
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
   position: absolute;
    width: 480px;
    height: 480px;
    left: 0px;
    top: 0px;
   
}

.logo{
    position: absolute;
    width: 112px;
    height: 79px;
    left: 184px;
    top: 0px;

    background: url(https://s3-alpha-sig.figma.com/img/4d04/0e73/06118d416e7d53b8c75d75298a411b65?Expires=1687132800&Signature=Xzl7Frx7cDYZHMUoimRwdXLUnpPBJIzPSt1pBajnckIehioPonYZJyOJ-T8EmDS5uxr6W2xUPMAQ3VIKirKUeEw4~IP40e2hP9bwiAYO~ljrEY8DoXKSWJgJQkS6H4VG5mJHFHNu2h41iGxB6xeGpm-ybWfOGJWi1ZzawsSFeRKNzBsEc5D3d8qGN3HafBt-h24SBq~yKXgadQAeeTK7CSm5M5lUlzNygxfo6ctrz8S5f6UNB7wjiULNND8qdrYR1FBb3DfwOAFqY5k6fF4tGbjHVa9B34TLBw6Jz-meOd~Q3NnL8x3aG2FX6aVoghjjZRjglWvGG3rQv-AYKklFYA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
}

.title1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 86px;
    gap: 3px;

    position: absolute;
    width: 400px;
    height: 68px;
    left: 40px;
    top: 79px;

    background: #FBCD8D;
    border-radius: 4px;
}

.title1 h2{
    width: 182px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    left: 109px;

    text-align: center;

    color: #15232B;
   

}

.title1 p{
    width: 219px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    left: 90.5px;
    top: 32px;
    text-align: center;
    color: #15232B;


}

form .firstName{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 190px;
    height: 54px;
    left: 40px;
    top: 165px;


}

form .firstName label{

    width: 55px;
    height: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;

}

form .firstName input{
   
    box-sizing: border-box;
    border: 1px solid #BCC1C5;
    border-radius: 6px;

    position: absolute;
    width: 190px;
    height: 36px;
    left: 0px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-indent: 8px;
    color: #BCC1C5;

    
}

form .lastName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 190px;
    height: 54px;
    left: 250px;
    top: 165px;

}

form .lastName label{

    width: 51px;
    height: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;
}

form .lastName input{
   
    color: #BCC1C5;

    position: absolute;
    width: 190px;
    height: 36px;
    left: 0px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-indent: 8px;
    color: #BCC1C5;

    box-sizing: border-box;
    border: 1px solid #BCC1C5;
    border-radius: 6px;

}

form .emailAddress{
   display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 400px;
    height: 54px;
    left: 40px;
    top: 231px;
}

form .emailAddress label{
    width: 67px;
    height: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;
}

form .emailAddress input{


    position: absolute;
    width: 400px;
    height: 36px;
    left: 0px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    text-indent: 8px;
    color: #BCC1C5;

    box-sizing: border-box;
    border: 1px solid #BCC1C5;
    border-radius: 6px;
}

form .opCompany{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 400px;
    height: 54px;
    left: 40px;
    top: 297px;

}

form .opCompany label{
    width: 45px;
    height: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;
}

form .opCompany input{

    position: absolute;
    width: 400px;
    height: 36px;
    left: 0px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-indent: 8px;
    color: #BCC1C5;

    box-sizing: border-box;
    border: 1px solid #BCC1C5;
    border-radius: 6px;
}

    form .check1{
    position: absolute;
    width: 382px;
    height: 35px;
    left: 40px;
    top: 359px;

}

form .check1 label{

    position: absolute;
    width: 126px;
    height: 12px;
 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;
}

form .check1 input[type=checkbox]{



    appearance: none;
   -webkit-appearance: none;
    box-sizing: border-box;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0px;
    top: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 4px; 


}



form .check1 input[type=checkbox]:checked{

    appearance: none;
    -webkit-appearance: none;
    position: absolute;
   
    width: 13px;
    height: 13px;
    left: 0px;
    top: 22px;
    background: #F89B1C;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
   

}


form .check1 .lbInfo{
    position: absolute;
    width: 363px;
    height: 12px;
    left: 19px;
    top: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #15232B;
}


form .signButton{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 166.5px;
    gap: 10px;
    
    position: absolute;
    width: 400px;
    height: 45px;
    left: 40px;
    top: 411px;
}

form .signButton input{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 166.5px;
    gap: 10px;
    position: absolute;
    width: 400px;
    height: 45px;
    

    background: #F89B1C;
    border: 0;
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

